@use "../abstracts/variables" as globVar;
@use "../mixins/" as mix;


.our-clients {
  .left {
    padding-inline-start: 6rem;
    padding-inline-end: 4rem;

    @include mix.min-breakpoint(1600) {
      padding-inline-start: 10rem;
      padding-inline-end: 6rem;
    }
    
    @include mix.breakpoint(991) {
      width: 100%;
    }

    @include mix.breakpoint(767) {
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
    }
    .title {
        max-width: clamp(47rem, mix.vw(470), mix.vw(470));

        @include mix.breakpoint(991) {
          max-width: 100%;
        }
    }

    p {
        line-height: 1.3;
        max-width: clamp(46rem, 60%, 60%);
        // color: rgba($color: globVar.$color-borders, $alpha: 0.5);
        @include mix.min-breakpoint(991) {
          max-width: clamp(mix.rem(400), mix.vw(400), mix.vw(400));
          font-size: 1.6rem;
        }

        
    }
  }

  .right {
    right: -1px;
    opacity: 0;
      // transform: translateY(4rem);
    @include mix.breakpoint(991) {
      width: calc(100% + 2px);
      left: -2px;
      
    }
  }

  &.animated {
    .card--1 {
      // border-color: transparent transparent rgba($color: globVar.$color-borders, $alpha: 0.2) rgba($color: globVar.$color-borders, $alpha: 0.2);
    }
  }
}