@use "../abstracts/variables" as globVar;
@use "../mixins/" as mix;

header.header {
  nav {
    .links {
      li {
        .mega-menu {
          // width: 100%;
          left: 0;
          top: 6rem;
          visibility: hidden;
          opacity: 0;
          transform: translateY(4rem);
          transition: 0.3s all ease-out;
          will-change: opacity, transform;
          &.active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          
          h5 {
            font-size: 2.4rem;
            line-height: 1.2;
            font-weight: 400;
          }
          .menu-card {
            // width: calc(33.33% - 1.5rem);
            color: var(--rustic-red);
            cursor: pointer;
            background-color: var(--color-white);
            transition:  0.3s all ease-out;
            .img-wrap {
              img {
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
              }
            }

            .content {
              p,
              h4,
              h5 {
                color: inherit;
              }
            }

            @include mix.min-breakpoint(1279) {
            
              &:hover {
                background-color: var(--red-berry);
              }
            }
          }

          &.type-1 {
            .left {
              // width: 68%;
              // width if right item is available 
              // otherwise 
              width: 100%;
              > div {
               @include mix.min-breakpoint(1279) {
                height: calc(100% - 6rem);
               }
              }
              .menu-card {
                padding: clamp(0.4rem, mix.vw(4px), mix.vw(4px)) clamp(1rem, mix.vw(1px), mix.vw(1px)) clamp(0.4rem, mix.vw(4px), mix.vw(4px)) clamp(0.4rem, mix.vw(4px), mix.vw(4px));
                width: calc(33.33% - 1.5rem);
                &:last-of-type {
                  // display: none !important;
                }
                .img-wrap {
                  background-color: rgba(
                    $color: globVar.$color-red-berry,
                    $alpha: 0.05
                  );
                  // height: 7rem;
                  // width: 7rem;
                  height: clamp(7rem, mix.vw(70px), mix.vw(70px));
                  width: clamp(7rem, mix.vw(70px), mix.vw(70px));
                  transition: 0.3s all ease-out;
                  img {
                    height: 80%;
                    width: 80%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
                .content {
                  width: calc(100% - 9rem);
                  p {
                    font-size: 2rem;
                    line-height: 1;
                    color: inherit;
                    font-weight: 400;
                    transition: 0.3s all ease-out;
                  }
                }

                @include mix.min-breakpoint(1279) {
                  &:hover {
                    .img-wrap {
                      background-color: var(--color-white);
                    }

                    .content {
                      p {
                        color: var(--color-white);
                      }
                    }
                  }
                }
              }
            }

            .right {
              width: 27.5%;
              .menu-card {
                padding: 1rem 1rem 2rem 1rem;
                width: 100%;
                // height: 100%;
                color: var(--rustic-red);
                cursor: pointer;
                background-color: 0.3s all ease-out;
                .img-wrap {
                  @include mix.aspect-ratio(317, 142);

                  img {
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    transform: none;
                  }
                }
                .content {
                  padding-inline: 1rem;
                  h4 {
                    transition: 0.3s all ease-out;
                    max-width: clamp(18.6rem, mix.vw(186), mix.vw(186));
                  }
                }

                @include mix.min-breakpoint(1279) {
                  &:hover {
                    background-color: var(--red-berry);
                    .content {
                      h4 {
                        color: var(--color-white);
                      }
                    }
                  }
                }
              }
            }
          }

          &.type-2 {

            .left {
              width: 100%;
              > div {
                margin-top: 0 !important;
              }
               h5 {
                display: none;
               }
              .menu-card {
                width: calc(33.33% - 1.5rem);
                padding: 0.6rem 1rem 0.6rem 0.6rem;
                display: flex;
                gap: 2rem;
                background-color: var(--color-white) !important;
                .img-wrap {
                  width: clamp(14.3rem, 30%, 15rem) !important;
                  @include mix.aspect-ratio(143, 143);

                  img {
                    object-fit: cover;
                    transition: 0.3s all ease-out;
                  }
                }

                .content {
                  width: 57%;
                  p {
                    font-size: 3rem;
                    letter-spacing: -1px;
                    line-height: 1.3;
                    font-weight: 400;
                    transition: 0.3s all ease-out;
                  }
                }

                @include mix.min-breakpoint(1279) {
                  &:last-of-type {
                    // display: none !important;
                  }
                  &:hover {
                    background-color: var(--red-berry) !important;
                    .img-wrap {
                      
                      img {
                        transform: scale(1.2);
                      }
                    }

                    .content {
                      p {
                        color: var(--color-white);
                      }
                    }
                  }
                }
              }
            }
            .right {
              display: none;
            }
          }
        }
      }
    }
  }
}
header.header{
  &.top {
    nav {
      .links {
        li {
          .mega-menu {
            top: 10rem;
          }
        }
      }
    }
  }
}